<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playlister</title>
  </head>
  <body>
    <h1>Welcome to Playlister!</h1>
    <h2><a href="/artists">Check out artists</a></h2>
    <h2><a href="/songs">Check out songs</a></h2>
    <h2><a href="/genres">Check out genres</a></h2>
  </body>
</html>
